<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GalleToon - Perfil</title>
</head>
<body>
    <section class="profile-section-user">
        <div class="profile-info">
            <h2 class="profile-username">Nombre de Usuario</h2>
            <p class="profile-user-email">correo@ejemplo.com</p>
            <p class="profile-user-gallecoins">Gallecoins: 100</p>
        </div>
    </section> <!-- Fin de la sección de perfil de usuario-->

    <section class="profile-section-favorites">
        <h2 class="section-title">Favoritos</h2>
        <div class="favorites-list">
            <div class="favorite-item">
                <img src="assets/images/favorite1.jpg" alt="Favorito 1" class="favorite-cover" />
                <h3 class="favorite-title">Título Favorito 1</h3>
            </div>
            <div class="favorite-item">
                <img src="assets/images/favorite2.jpg" alt="Favorito 2" class="favorite-cover" />
                <h3 class="favorite-title">Título Favorito 2</h3>
            </div>
        </div>

    </section>
</body>
</html>