/* Custom Styles */
:root {
    --ColorPrincipal: #F23054;
    --ColorSecundario: #F26699;
    --ColorTerciario: #F2CE1B;
    --ColorCuarto: #D97218;
    --ColorQuinto: #8C3E3E;
    --font: 'Lilita One', sans-serif;
  }